/* general settings */
body{
    font-family: "Ubuntu", sans-serif;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 1660px;
    margin: 0 auto;
}

/* header */

.header {
    padding: 25px 0px;
}

.header-container {
    width: 1570px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container,
.header-list {
    display: flex;
}

.header-list {
    gap: 25px;
    display: flex;
    align-items: center;
}

.header-item-link {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.header-item-link:hover {
    border-bottom: 3px solid #1de953;
}

.header-item-span {
    color: #25C24F;
    font-weight: 600;
}

/* help */

.help-img{
    width: 700px;
}
.help-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    line-height: 48px;
}
.help-title{
    font-weight: 600;
    font-size: 58px;
    width: 850px;
    line-height: 65px;
    margin-bottom: 25px;
}
.help-span-title{
    color: #25C24F;
}
.help-text{
    font-size: 28px;
    width: 550px;
    line-height: normal;
    margin-bottom: 20px;
}
.help-span-text{
    color: #25C24F;
    font-weight: 600;
}
.help-btn{
    cursor: pointer;
    background-color:#25C24F;
    padding: 15px 25px;
    align-items: center;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
}
/* Video */

.video-container{
    padding: 50px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.video-video{
    width: 1600px;
}

/* planet */

.planet-container{
    padding-bottom: 50px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.planet-title{
    font-size: 52px;
    font-weight: 600;
    width: 600px;
    margin-bottom: 25px;
}
.planet-span-title{
    color: #25C24F;
}
.planet-text{
    font-size: 28px;
    font-weight: 400;
    width: 700px;
    margin-bottom: 20px;
}
.planet-span-text{
    font-weight: 600;
}
.planet-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.planet-list-item-icon{
    width: 25px;
    position: absolute;
}
.planet-list-item-text{
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
}
.planet-img{
    width: 430px;
}

/* analytics */

.analytics{
    background-color: #F2FBF5;
    padding: 25px 0px;
}
.analytics-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.analytics-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.analytics-item{
    display: flex;
    gap: 10px;
    width: 300px;
}
.analytics-item-text{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    width: 25px;
}
.analytics-item-num{
    color: #25C24F;
    font-size: 48px;
    font-weight: 600;
}

/* project */

.project{
    padding: 50px 0px;
}
.project-container{
    display: flex;
    justify-content: center;
}
.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.project-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
}
.project-span{
    font-weight: 800;
    font-size: 28px;
}
.project-text{
    width: 400px;
    font-size: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.project-img{
    width: 55px;
}

/* search */

.news{
    padding: 50px 0px;
}
.news-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.news-title{
    margin-bottom: 49px;
    font-size: 48px;
}
.news-span-title{
    color: #25C24F;
    border: none;
}
.news-form{
    border: 1px solid #000;
    border-radius: 50px;
    width: auto;
}
.news-email{
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}
.news-btn{
    cursor: pointer;
    border: none;
    background-color: #25C24F;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 50px;
}

/* footer */

.footer{
    padding: 25px 0px;
    background-color: #3D3D3D;
}
.footer-container{
    justify-content: space-between;
    align-items: center;
}
.footer-container, .footer-list{
    display: flex;
}
.footer-logo{
    margin-top: 10px;
    width: 175px;
}
.footer-img{
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px 10px;
    justify-content: center;
}
.footer-list{
    gap: 25px;
    align-items: center;
}