/* header */
.header{
    padding: 0px 120px;
}
.header-container{
    padding: 25px 0px;
    justify-content: space-between;
}
.header-container, .header-list{
    display: flex;
}
.header-logo{
    margin-bottom: 10px;
}
.header-list{
    list-style: none;
    gap: 25px;
    align-items: center;
}
.header-item-link{
    color: #000;
    text-decoration: none;
}

.header-item-span{
    color: #25C24F;
    font-weight: 600;
}

/* help */
.help{
    padding: 0px 120px;
}
.help-container{
    display: flex;
    align-items: center;
    gap: 25px;
}
.help-title{
    color: #000;
    font-weight: 600;
    font-size: 52px;
    width: 850px;
}
.help-span-title{
    color: #25C24F;
}
.help-text{
    color: #000;
    font-size: 28px;
    width: 550px;
}
.help-span-text{
    color: #25C24F;
    font-weight: 600;
}
.help-btn{
    background-color:#25C24F;
    padding: 15px 25px;
    align-items: center;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
}
/* Video */

.video-container{
    padding: 50px 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.video-video{
    width: 1500px;
    height: 800px;
}

/* planet */

.planet-container{
    padding: 0px 120px;
    padding-bottom: 50px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.planet-title{
    font-size: 52px;
    font-weight: 600;
    color: #000;
}
.planet-span-title{
    color: #25C24F;
}
.planet-text{
    font-size: 28px;
    font-weight: 400;
    color: #000;
}
.planet-span-text{
    font-weight: 600;
}
.planet-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    column-gap: 15px;
}
.planet-list-item-icon{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 15px;
}
.planet-list-item-text{
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
}
.planet-img{
    width: 500px;
    height: 600px;
}

/* analytics */

.analytics-container{
    padding-bottom: 50px;
    background-color: #F2FBF5;
    display: flex;
}
.analytics-list{
    list-style: none;
    margin: 0 auto;
    gap: 250px;
    display: flex;
    align-items: center;
    padding-top: 120px;
}
.analytics-item-text{
    display: block;
    color: #000;
    font-size: 24px;
}
.analytics-span-text{
    color: #25C24F;
    font-size: 48px;
    font-weight: 600;
}
